.stripes.clearfix
  .signUp{style: "width:50%;float:left;"}
    .modal#merchantSignup(data-form="fancyform_signup")
      .header Создать владельца

      .body
        = form_for(merchant, :as => :merchant, :url => registration_path(:merchant, :fancysignup => true)) do |f|
          = hidden_field_tag(:partner_slug, params[:partner_slug])
          = fields_for :company do |b|
            = b.label :title, "Имя компании *"
            = b.text_field :title
            = b.label :description, "Описание компании *"
            = b.text_field :description

          %h3 Merchant Contact Information:
          = f.label :name, "Ваше имя *"
          = f.text_field :name
          = f.label :email, 'Email *'
          = f.email_field :email
          = f.label :password, 'Пароль *'
          = f.password_field :password
          = f.label :password_confirmation, "Повторите пароль *"
          = f.password_field :password_confirmation
          .green_button{:style=>"margin:20px 0 0 70px"}
            .left_corner_button
            .bckg_green_button
              = f.submit 'Зарегестрироваться', input_html: { :style=>"border:0;margin-top:4px;margin-bottom:20px;height:40px", :class => 'button'}
            .right_corner_button

.footer
:css
  .modal .body, .fancy {
    overflow-y: visible;
    margin-bottom: 0px;
  }
  .stripes {
    padding: 20px 15px 45px 15px;
    margin: 15px 0 30px;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
  }
  .signUpInfo {
    width: 50%;
    float: left;
  }
  .infoBox {
    margin: 105px 40px 110px;
    padding: 30px;
    border: 2px solid #b7b7b7;
  }
