.modal#consumerSignup(data-form="fancyform_signup")
  .header
    .purple
      Пользователи
      %span.header__business-link
        = link_to 'Владельцы', '/merchants/sign_up', :target => "_top"
  .body
    = form_for(consumer, :as => :consumer, :url => registration_path(:consumer, :fancysignup => true)) do |f|
      = f.label :email, 'Email *'
      = f.email_field :email
      = f.label :password, 'Пароль *'
      = f.password_field :password
      %p.notice Ваш пароль должен содержать не мение 8 символов.
      = f.label :password_confirmation, 'Подтвердить пароль *'
      = f.password_field :password_confirmation
      %label(for='consumer_location') Зип код *
      = f.text_field :location
      %label(for='consumer_source') Реферальный код
      = f.text_field :referral_code
      .clean
      = f.submit "Зарегестрироваться", :class => 'button'
  .footer
    = link_to "", consumer_omniauth_authorize_path(:facebook), :class => 'facebook-btn facebook-btn_signup'