/ - if @result
/   #total-errors{:style => "color:red;"}
/     = h(@result.errors.size)
/     error(s)
/     \#{h(@result.message)}
/ = form_for :transaction,                                        |
/   :url => Braintree::TransparentRedirect.url,                   |
/   :params => @result && @result.params[:transaction],           |
/   :builder => ApplicationHelper::BraintreeFormBuilder,          |
/   :errors => @result && @result.errors.for(:transaction) do |f| |
/   %br
/   %p.header First Name
/   %p.form= current_consumer.first_name
/   %p.header Last Name
/   %p.form= current_consumer.last_name
/   %p.header Phone
/   %p.form= current_consumer.phone
/   %br
/   %h2 Credit Card Information
/   %p.header Number
/   %p.form= @credit_card.masked_number
/   %p.header Expiration Date
/   %p.form= @credit_card.expiration_date
/   = hidden_field_tag :tr_data, @tr_data
/   = f.submit 'Confirm Purchase', :class => 'buy', :disable_with => 'Please wait...', :class => "special", :style => 'margin: 10px 100px'

- if @result
  #total-errors{:style => "color:red;"}
    = h(@result.errors.size)
    error(s)
    \#{h(@result.message)}
= form_for :transaction,                                        |
  :url => Braintree::TransparentRedirect.url,                   |
  :params => @result && @result.params[:transaction],           |
  :builder => ApplicationHelper::BraintreeFormBuilder,          |
  :errors => @result && @result.errors.for(:transaction) do |f| |
  %li
    .tr-data= hidden_field_tag :tr_data, @tr_data
    = f.submit 'Place order', class: 'braintree-checkout btn btn-primary text-uc', disable_with: 'Please wait...', style: 'width: 100%;'
  %li
    / %a.pull-right{href: "#"} Change
    = link_to 'Change', edit_credit_card_info_path(id: @credit_card.token), class: 'pull-right'
    %p
      %strong.bold Payment:
      = "#{current_consumer.first_name} #{current_consumer.last_name}"
      %br/
      Zip Сode: |
      = current_consumer.location
      %br/
      %br/
      %strong.bold Credit Card Information:
      %br/
      Number: |
      = OtherUtil.only_last(@credit_card.masked_number)
      %br/
      Expiration Date: |
      = @credit_card.expiration_date
