- if @result
  #total-errors{:style => "color:red;"}
    = h(@result.errors.size)
    error(s)
= form_for :credit_card,                                        |
  :url => Braintree::TransparentRedirect.url,                   |
  :params => @result && @result.params[:credit_card],           |
  :builder => ApplicationHelper::BraintreeFormBuilder,          |
  :existing => @credit_card,                                    |
  :errors => @result && @result.errors.for(:credit_card) do |f| |
  = field_set_tag "Payment Information" do
    %p.header= f.label :number, 'Card number'
    %p.text= f.text_field :number
    %p.header= f.label :cvv, 'CVV'
    %p.text= f.text_field :cvv
    %p.header= f.label :expiration_date, 'Expiration date'
    %p.text= f.text_field :expiration_date
    = fields_for :billing_address do |p|
      %p.header= p.label :postal_code, 'Zip code'
      %p.text= p.text_field :postal_code
  = hidden_field_tag :tr_data, @tr_cc_data, id: 'tr-data'
  - if @tr_cc_data
    = f.submit 'Save Payment Info', remote: true, class: 'btn btn-primary btn-rec'
  %p.bottom_text 
    After you've entered your credit card information, please click
    %a.place_order 
      place order
    %span 
      above.
