- if shopping_cart_item.item.amount != -1
  - left = shopping_cart_item.item.amount - shopping_cart_item.item.sold_count

%tr.first-row
  %th{align: "left", colspan: "3"}
    = shopping_cart_item.item.subject
    %span
      = shopping_cart_item.item.business.name
%tr
  %td
    - unless shopping_cart_item.item.thumb.empty?
      %div{style:"float:left;width:100px;height:100px;overflow:hidden;"}
        %img{alt: "item", src: shopping_cart_item.item.image_url}/
  %td{style:"align:center;vertical-align:middle;"}
    .qty-field
      %span.is-label Qty:
      %input{:type => :text,
        :value => shopping_cart_item.quantity,
        :data => {:left => left.nil? ? -1 : left, :validation => 'check_amount', :id => shopping_cart_item.id},
        :name => "number[#{shopping_cart_item.id}]",
        :class => 'numberok',
        :maxlength => 3}
      = link_to 'Remove', shopping_cart_item_path(shopping_cart_item.id), :method => :delete, :class => 'remove-item', type: 'button', remote: true
  %td{style:"align:right;vertical-align:middle;"}
    = number_to_currency(shopping_cart_item.price)