.signin
  .header.modal-header
    .green
      Business login
  .container
    .body
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        - flash.each do |key, message|
          .errors
            .alert-message{:class => key}
              = message
        = f.label :email
        = f.email_field :email, :class => "signup_full"
        = f.label :password
        = f.password_field :password, :class => "signup_full"
        .inline
          = f.label :remember_me
          = f.check_box :remember_me
        .clean
        = f.submit "Sign in", :class => 'button'
        = render :partial => "merchants/shared/links"
:css
  .signin
  {
    width: 300px;

    margin: 0 auto;
    margin-top: 10px;
  }
  .signin .container, .signin .header
  {
    width: 300px;
  }
  .signin .body form input
  {
    width: 90%;
  }