%html
  %head
  %body
    %div(style="width: 355px; margin: 0 auto;")
      = image_tag(image_url('chinoki-logo.png'))

    - unless @local_businesses.empty?
      %h3(style="color: red") Local businesses that joined chinoki
      %table
        %thead
        %tbody
          - @new_businesses.each do |b|
            %tr
              %td(valign="top")
                = link_to b.name, consumers_business_url(b)
                %p= b.description
      %br

    - unless @coupons.empty?
      %h3(style="color: red") Coupons available to you
      %table(cellspacing="10")
        %thead
          %tr
            %th
            %th Business
            %th Description
            %th Expires On
            %th View
          %tbody
            - @coupons.each do |message|
              %tr
                %td
                  = message.campaign.business.name
                %td= message.campaign.description
                %td= l message.campaign.expires_at
                %td= link_to :view, view_coupon_url(message.redemption_code), :class => 'view'
      %br

    - unless @new_businesses.empty?
      %h3(style="color: red") New businesses on chinoki
      %table
        %thead
        %tbody
          - @new_businesses.each do |b|
            %tr
              %td(valign="top")
                = link_to b.name, consumers_business_url(b)
                %p= b.description

    %br
    %br
    %br
    %p(style="text-align: center")
      If you do not wish to receive weekly emails from chinoki, you can
      = link_to 'unsubscribe any time.', toggle_email_weekly_consumer_url(u: @consumer.id, h: @consumer.confirmation_token)
