
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dollarhood Pass
  %body{:bgcolor => "#FFFFFF", :leftmargin => "0", :marginheight => "0", :marginwidth => "0", :style => "-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%;", :topmargin => "0"}
    %table.body-wrap{:style => "width: 100%;"}
      %tr
        %td
        %td.container{:bgcolor => "#FFFFFF", :style => "margin: 0 auto;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;display: block;max-width: 900px;clear: both;"}
          .content{:style => "margin: 0 auto;padding: 15px;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;max-width: 900px;display: block;"}
            %table{:style => "width: 100%;"}
              %tr
                %td
                  %p{:style => "margin: 0;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6; text-align:center"}
                    = image_tag attachments["logo-smaller.jpg"].url, :style => "width: 100%;"
                  / /hero
                  %p.lead{:style => "text-align:center;margin: 0;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: bold;font-size: 18px;line-height: 1.6;"}
                    #{cart_item.item.campaign.business.name}
                    &mdash;
                    #{cart_item.item.subject}
                  %p.lead{:style => "text-align:center;margin: 0;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 17px;line-height: 1.6;"}
                    #{cart_item.item.content}
                    %br/

                  - if cart_item.item.promo_code.present?
                    %p.lead{:style => "text-align:center;margin: 0;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: bold;font-size: 18px;line-height: 1.6;"}
                      Prome code: #{cart_item.item.promo_code}
                  %p.lead{:style => "text-align:center;margin: 0;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 17px;line-height: 1.6;"}
                    Purchased On: #{@cart.transactions.last.created_at.to_formatted_s(:long)}
                    %br>/
                    Offer Expiration Date: #{cart_item.item.campaign.expires_at.to_formatted_s(:long)}
                  %p.lead{:style => "text-align:center;margin: 0;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: bold;font-size: 18px;line-height: 1.6;"}
                    Dollarhood Pass Number:
                    #{@cart.transactions.last.confirmation_code}
                    %br/
                  %p{:style => "margin: 0;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;"}
                    Tell your friends about your Offer and share-itt here!
                    %a{:href => "http://api.addthis.com/oexchange/0.8/forward/facebook/offer?pco=tbx32nj-1.0&url=#{ CGI::escape(view_coupon_url(cart_item.item.code))}&pubid=ra-518ce20529de4a15", :target => "_blank"}<
                      %img{:alt => "Facebook", :border => "0", :src => "http://cache.addthiscdn.com/icons/v1/thumbs/32x32/facebook.png"}/
                    %a{:href => "http://api.addthis.com/oexchange/0.8/forward/twitter/offer?pco=tbx32nj-1.0&url=#{ CGI::escape(view_coupon_url(cart_item.item.code))}&pubid=ra-518ce20529de4a15", :target => "_blank"}<
                      %img{:alt => "Twitter", :border => "0", :src => "http://cache.addthiscdn.com/icons/v1/thumbs/32x32/twitter.png"}/
                    %a{:href => "http://www.addthis.com/bookmark.php?source=tbx32nj-1.0&=300&pubid=ra-518ce20529de4a15&url=#{ CGI::escape(view_coupon_url(cart_item.item.code))}", :target => "_blank"}<
                      %img{:alt => "More...", :border => "0", :src => "http://cache.addthiscdn.com/icons/v1/thumbs/32x32/more.png"}/
                  .column-wrap{:style => "margin: 0 auto;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;max-width: 600px;"}
                    .column{:style => "width: 300px;float: left;"}
                      %table{:align => "left", :style => "width: 100%;"}
                        %tr
                          %td{:style => "margin: 0;padding: 15px;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;"}
                            %p{:style => "margin: 0;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;"} Present a printed or smartphone pass upon arrival to the place of business noted below.
                            %p{:style => "margin: 0;padding: 0;font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;"}
                              %strong Business Address:
                              %br/
                              #{cart_item.item.campaign.business.contact_block.html_safe}

                    .clear{:style => "display: block;clear: both;"}


%div{:style => "display:block; clear:both; page-break-after:always;"}
