%html
  %body{:style => "width:525px;height:500px;margin:5px;border:1px solid #d3d3d3"}
    %div{:style => "width:93px;float:left;height:33px;margin:20px;background-repeat:no-repeat"}
    %div{:style => "float:left;text-align:center;margin:0;color:#808080;font:11pt Verdana;font-weight:bold"}
      To redeem your offer, take this email to
      %span{:style => "color:#f11f28;margin:0;"}= @business.name
      and show it to the staff from your phone or in print.
    %div{:style => "width:490px;float:left;margin:25px 0 0 35px "}
      - if @coupon.has_image?
        %img{:style=>"width:150px;float:left",:src=>@coupon.thumb}
      - else
        %div{:style => "width:150px;height:150px;float:left; background:transparent"}
      %div{:style => "float:left;margin:0 0px 0 20px;width:320px"}
        %p{:style => "color:#808080;font:12pt Verdana;font-weight:bold;margin:10px 0px 10px 0"}
          Hi, Here's your Dollarhood:
        %p{:style => "color:#8eb12a;font:13pt Verdana;font-weight:bold;margin:10px 0px 10px 0;line-height:1.5"}
          = @coupon.subject
        %p{:style => "color:#808080;font:11pt Verdana;margin:10px 0px 10px 0;line-height:1.5"}
          Expires #{l(@expires)}
          %br/
    %div{:style => "width:490px;float:left;margin:40px 0 30px 35px "}
      - if @business.has_logo?
        %img{:style=>"width:150px;float:left",:src=>@business.logo_url}
      %div{:style => "float:left;margin:0 0 0 20px;width:320px"}
        %p{:style => "color:#dc1f26;font:11pt Verdana;margin:0px"}= @business.name
        %div{:style => "color:#000;font:11pt Verdana;"}
          %p{:style => "margin:0"}= @business.full_address
          %p{:style => "margin:0"}= @business.phone