%tr
  %td{style: "padding:37px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Hi,
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"}
      I wanted to let my contacts know about an exciting opportunity for local and online businesses.
      = @partner.name
      is now partnering with dollarhood, an online platform where businesses can market their offers for FREE! Join our dollarhood community and gain exposure for your business not only on dollarhood.com, but throughout
      = @partner.url
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %h3{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#000;"} The Best Part – It’s Free for Businesses!
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} This online marketing solution is completely free with no annual or start up fees- ever! Dollarhood allows businesses to post customized offers, in real time, on your terms, at your price!
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Here is how it works:
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %ul{style: "margin:0;padding-left:14px;list-style-type:square;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;"}
      %li You decide when the offer goes live and how long it will be valid.
      %li You decide the quantity- from 1 to unlimited.
      %li You decide the type of offer. It can be a specific dollar amount, discount, or a special promotion discount works for your business.
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"}
      Dollarhood and
      = @partner.name
      provide you an extended customer reach!
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %ul{style: "margin:0;padding-left:14px;list-style-type:square;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;"}
      %li We connect you with NEW customers.
      %li
        On-the-go customers access your offers instantly on their smartphone, via email, or on the dollarhood or
        = @partner.name
        websites.
%tr
  %td{style: "padding:16px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"}
      To create a free account, go to
      = link_to 'sign up url', new_merchant_registration_url(partner_slug: @partner.slug)
      %br
      Don’t delay! We want you to be a part of our dollarhood neighborhood today!
%tr
  %td{style: "padding:32px 55px 0 55px;"}
    %p{style: "margin:0;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:17px;color:#000;"} Any questions? Do not hesitate to call or email me
