= content_for :head do
  %meta{:property => 'og:title', :content => "Dollarhood Offer from #{@coupon.business.name} - #{@coupon.subject}"}
  %meta{:property => 'og:description', :content => @coupon.content}
  %meta{:property => 'og:image', :content => @coupon.thumb}

:javascript
  var switchTo5x=true;

.addthis_toolbox.addthis_default_style.addthis_32x32_style(style="width: 250px; margin: 0 auto;")
  %a.addthis_button_preferred_1
  %a.addthis_button_preferred_2
  %a.addthis_button_preferred_3
  %a.addthis_button_preferred_4
  %a.addthis_button_compact
  %a.addthis_counter.addthis_bubble_style

:javascript
  var addthis_config = {"data_track_addressbar":true};

= javascript_include_tag "https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-508e563741b6132f"

:css
  #coupon {
    background-color: #fff;
    color: rgb(153,51,51);
  }

#coupon
  .heading
    = @coupon.subject
  #promo
    -if not @coupon.thumb.nil?
      = image_tag @coupon.thumb, :style =>  "max-width: 240px; max-height: 160px"
  #coupon-info
    %p.coupon-content
      = @coupon.content
    %p.expiration-date
      Valid until
      %strong
        = l(@campaign.expires_at) if @campaign.expires_at
    %br
    - unless @coupon.unlimited?
      %p
        Coupons left:
        = @coupon.amount
      %br
    - if current_consumer && current_consumer.bought?(@coupon)
      You already bought this coupon.
      %br
      %br
      = link_to 'View purchased codes or buy another one', buy_coupon_consumer_path(reference: @coupon.id), class: 'buynow'
    - elsif not @coupon.unavailable?
      = link_to 'BUY NOW', buy_coupon_consumer_path(reference: @coupon.id), class: 'buynow'
    - else
      %h1 Sorry, this coupon is no longer available.

  #merchant-info
    %address
      %p= @coupon.business.name
      %p= @coupon.address
      %p= @coupon.business.phone

  %ul#terms
    - @coupon.terms.each do |term|
      %li= term
