- flash.each do |key, message|
  .alert-message{:class => key}
    = message

= message_status_notification(@message)

= form_tag redeem_coupon_path, :class => "form-stacked" do
  %label
    code
    = text_field_tag :code, params[:code]
  = submit_tag "Submit"
