.modal#merchantSignup(data-form="fancyform_signup")
  .header
    .green
      Business signup
  .body
    = form_for(merchant, :as => :merchant, :url => registration_path(:merchant, :fancysignup => true)) do |f|
      = fields_for :company do |b|
        = b.label :title, "Company Name"
        = b.text_field :title
        = b.label :description, "Description *"
        = b.text_field :description

      %h3 Merchant Contact Information:
      = f.label :name, "Your Name"
      = f.text_field :name
      = f.label :email
      = f.email_field :email
      = f.label :password
      = f.password_field :password
      %p.notice Your password should be at least 8 characters.
      = f.label :password_confirmation, "Confirm Password *"
      = f.password_field :password_confirmation
      .green_button{:style=>"margin:40px 0 0 70px"}
        .left_corner_button
        .bckg_green_button
          = f.submit 'SIGNUP', input_html: { :style=>"border:0;margin-top:4px;height:30px", :class => 'button'}
        .right_corner_button
  .footer
