!!!
%html
  %head
    %meta{charset: "utf-8"}/
    
  %body{style: "background:#ccc;"}
    %table{style: "width:100%;background:#ffffff;margin:0;padding:0;border-collapse:collapse;"}
      %tr
        %td{style: "height:21px;background-color:#62A343;"}
      %tr
        %td{style: "padding:15px 25px 0 25px;text-align:center;"}
          %h2{style: "margin:41px 0 7px;font-size:18px;font-family:Arial,Helvetica,sans-serif;font-weight:normal;color:#000;"} Thank you for your purchase.
          %h2{style: "margin:0;font-size:18px;font-family:Arial,Helvetica,sans-serif;font-weight:normal;color:#000;text-transform:uppercase;"}
            Confirmation:
            %span{style: "font-weight:bold;"}
              = @trans_confirm_code
          %hr{style: "margin:24px 0 0;border:0;border-top:1px solid #B7B7B7;"}/
      %tr
        %td{style: "padding:30px 25px 0 25px;"}
          %ul{style: "width:66%;margin:0 0 0 3%;padding:0;list-style:none;float:left;"}
            - @cart.shopping_cart_items.each do |item|
              %li{style: "border:1px solid #BDBDBD;padding:12px 12px 8px;min-height: 82px;"}
                #textImage{style: "width: 45%;float:left;"}
                  %h2{style: "margin:0;font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#000;"}
                    = item.item.subject
                  %p{style: "margin:0 0 4px;font-size:10px;font-family:Arial,Helvetica,sans-serif;color:#000;"}
                    = item.item.business.name
                  - unless item.item.thumb.blank?
                    %div{style:"float:left;width:100px;height:100px;overflow:hidden;"}
                      %img{alt: "", src: item.item.thumb}/
                #viewButton{style: "width:30%;float:left;"}
                  %a{href: view_coupon_path(item.item.code), style: "display:inline-block;margin-top:40%;font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#fff;background-color:#62A343;padding:4px 12px;text-decoration:none;"} View / Print Offer
                #quantity{style: "width:25%;float:left;text-align:right;"} 
                  %span{style: "display:inline-block;margin-top:47.5%;font-size:10px;font-family:Arial,Helvetica,sans-serif;color:#000;"}
                    $1.00 x
                    = item.quantity
                %div{style: "clear:both;"}
          %ul{style: "width:22%;margin:0 0 0 2%;padding:11px 11px 17px;list-style:none;border:1px solid #BDBDBD;float:left;"}
            %li{style: "padding-bottom:5px;"}
              %h2{style: "margin:0;font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#000;"} Your order
            %li{style: "border-top:1px solid #DBDBDB;padding:10px 0;"}
              %p{style: "margin:0;font-size:10px;font-family:Arial,Helvetica,sans-serif;color:#000;"}
                Price:
                %span{style: "float:right;"}
                  = number_to_currency(@cart.total)
              %p{style: "margin:0;font-size:10px;font-family:Arial,Helvetica,sans-serif;color:#000;"} Sales Tax:
            %li{style: "border-top:1px solid #DBDBDB;padding-top:5px;"}
              %p{style: "margin:0;font-size:10px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;color:#000;"}
                Total:
                %span{style: "float:right;"}
                  = number_to_currency(@cart.total)
      %tr
        %td{style: "padding:16px 25px 0 25px;"}
          %hr{style: "margin:14px 0 0;border:0;border-top:1px solid #000;"}/
      %tr
        %td{style: "padding:16px 41px 50px 41px;"}
          %div{style: "width:55%;float:left"}
            %h3{style: "margin:0 0 3px;font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#000;"} About Dollarhood
            %p{style: "margin:0 0 15px;font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#000;"} Dollarhood features exclusive offers that are placed online by local and online businesses.  Offers may not be exchanged for cash or refunded.
            %h3{style: "margin:0 0 3px;font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#000;"} Redemption
            %p{style: "margin:0;font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#000;"} Offers purchased on dollarhood may be used to received special deals and discounted purchases at the place of business that ran the offer. Take either a print or digital copy of this offer to the aforementioned business to receive the discount or special value.
          %div{style: "width:35%;margin-left:10%;float:left"}
            %h3{style: "margin:0 0 3px;font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#000;"} Questions about this receipt?
            %h3{style: "margin:0 0 3px;font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#000;"} Please email us at:
            %h3{style: "margin:0 0 3px;font-size:12px;font-family:Arial,Helvetica,sans-serif;"}
              %a{href: "mailto:customer@dollarhood.com", style: "color:#62a343;"} customer@dollarhood.com
- unless @print_receipt.nil? 
  :javascript

    window.onload = function() {
      window.print();
    };

