= stylesheet_link_tag 'sell_coupon/style'
= javascript_include_tag "3rd_party/jquery.autosize"
= javascript_include_tag "3rd_party/jquery.hashtags"
= stylesheet_link_tag "3rd_party/jquery.hashtags"
= javascript_include_tag "other/hashtags"

.clearfix
  = f.error_messages :class => 'alert-message block-message error'

%h1 Create a New Offer
#coupon-creator
  %ol
    = f.fields_for :coupon do |coupon|
      %li.header Add a promotional image:
      .section.group
        - unless @campaign.coupon.image.nil?
          Attached
          = @campaign.coupon.image.original_filename

        = coupon.hidden_field :thumb
        %div
          %a.btn{"data-toggle" => "modal", :href => "#uploadImage"} Upload a new photo
          %a.btn{"class" => "showMyPhotos", :href => "#"} Load my photos
        %div
          Or select from one of these stock photos by category:
          = select("photo", "category", Stockphoto.uniq.pluck(:category), {:include_blank => 'Select a Category'})
          %br
          %br
          #results
            -if params[:business_images]
              = render partial: 'businesses/images'
      %li.header Give your offer a catchy title:
      .section.group
        %p.block-label
          = coupon.text_field :subject, :class => "txt-input fullwidth", :placeholder => "ex: Save $10 on a $50 purchase."
      %li.header Add offer details:
      .section.group
        %p.block-label
          = coupon.label :content, "Offer Content"
          = coupon.text_area :content, :rows => 4, :placeholder => "ex: Angelo's Italian Restaurant has been named 'Best Italian Restaurant' for 3 years in a row! Purchase this offer, and stop in any weekday (Monday - Friday) to receive $10 off a $50 purchase. We look forward to seeing you."

      %li.header Add your business contact info:
      .section.group
        = coupon.text_area :address, :rows => 4, :value => @campaign.coupon.address || @business.full_address, :style => "width: 200px; min-height: 60px"

      %li.header Add promo code for your offer below:
      .section.group
        %p.block-label
          = coupon.text_field :promo_code, :class => "txt-input fullwidth", :placeholder => "Enter a promo code"

      %li.header Additional Terms. Check all that apply.
      .section

        %ul#terms.checkbox-list.checkbox-list-block
          %li
            = terms_check_box("Limit one per person per table", coupon)
          %li
            = terms_check_box("Limit one per table", coupon)
          %li
            = terms_check_box("Not valid on alcohol", coupon)
          %li
            = terms_check_box("Not valid for delivery", coupon)
          %li
            = terms_check_box("Not valid with other specials, promotions, coupons or discounts", coupon)
          %li
            = terms_check_box("Reservation required", coupon)
          %li
            = terms_check_box("Must be 21 or older", coupon)
          %li
            = terms_check_box("Coupon is only good for single item", coupon)
      %li.header Include your own Terms.
      .section
        = coupon.text_area :more_terms, :rows => 4, :value => @campaign.coupon.more_terms, :style => "width: 200px; min-height: 60px"

    = javascript_include_tag 'sell_campaigns/browse'
    = javascript_include_tag 'sell_campaigns/file'
    %li.header How many offers do you have for sale?
    .section.group.sell
      = f.fields_for :coupon do |f|
        %input.unlimited(type="radio" checked="checked" name="type_of_offer" value='unlimited')
        %label Unlimited offers
        &nbsp;&nbsp;&nbsp;&nbsp;
        %input.limited(type="radio" name="type_of_offer" value='limited')
        %label
          Limit my quantity
          %span.limit{style: 'display:none'}
            to
            = f.text_field :amount, size: 3, class: 'small'
            offers

    = javascript_include_tag 'sell_campaigns/show'
    %li.header When would you like to start your offer? When should it end?
    .section
      %h3
        The offer should begin at: (Emails will be delivered at this time)
      = f.datetime_select :deliver_at, :order => [:day, :month, :year], :start_year => Date.today.year, :use_short_month => true, :ampm => true, :default => Time.zone.now
      %br
      %br
      %h3
        The offer should end at: (Offers will no longer be available for purchase)
      = f.datetime_select :expires_at, :order => [:day, :month, :year], :start_year => Date.today.year, :end_year => 1.month.from_now.year, :use_short_month => true, :ampm => true, :default => 30.days.from_now
    %li.header Select Sharing Options
    .section
      - if current_business.has_twitter_credentials?
        %input{:type => 'checkbox', :id => 'twitter_share_confirm', :name => 'share[twitter]', :checked => true}
      - else
        %input{:type => 'checkbox', :id => 'twitter_share_confirm', :name => 'share[twitter]', :checked => false, :disabled => true}
      %label{:for  => 'twitter_share_confirm'}
        Twitter share
      %br
      - if current_business.has_facebook_credentials?
        %input{:type => 'checkbox', :id => 'facebook_share_confirm', :name => 'share[facebook]', :checked => true}
      - else
        %input{:type => 'checkbox', :id => 'facebook_share_confirm', :name => 'share[facebook]', :checked => false, :disabled => true}
      %label{:for  => 'facebook_share_confirm'}
        Facebook share    
    %li.header Hashtags
    %textarea{:id => 'hashtags', :class => 'hashtags', :name => "hashtags", :rows => 1}
      = @campaign.coupon.hashtags.map(&:tag).uniq.join(' ')
    %br
    %li.header Verify that this offer doesn't already exist as a free offer
    %input{:type => 'checkbox', :id => 'confirm', :name => 'confirm'}
    %label{:for  => 'confirm', :class => 'confirm_offer'}
      I confirm that offer has not been made available for free and will never be until it expires at dollarhood.com
    %br
    %br
    %br