= stylesheet_link_tag 'redesign/picks'
= stylesheet_link_tag 'redesign/merchant_pick'

.top_central
  .first_header
    %b You Got It!
.coupon-detail

  %p
    You will receive an email with your receipt and your dollarhood pass.  Simply print out the dollarhood pass or pull it up on your mobile device to present to the business during your visit.
  %p
    If you have any questions regarding your transaction, please contact us at
    = link_to "customer@dollarhood.com", 'mailto:customer@dollarhood.com'

  %p
    Remember you can opt-in to be the first to receive the limited, exclusive Offers from your favorite businesses.  Just visit the
    = link_to "Local HotSpots", consumers_offers_subscribe_path
    page at dollarhood.com and select those you want to receive text or email messages from.

  = render '/consumers/consumer/show_transaction', :cart=> @cart


:css
  .right_block_consumer_view {
    padding: 0;
    width: 754px;
    padding-left: 10px;
  }
  .coupon-detail {
    padding:20px;
  }
  .coupon-detail p{
    margin: 10px 0;
  }
