- purge :category_nav
.dh-wrapper
  .inner-container.checkout-page
    .layout.main-sidebar
      .main
        %h1 Confirm Your Order
        %form{:action => new_transaction_path, :class => "shopping_form"}
          %table.checkout-table
            = render :partial => 'shopping_cart_item', :collection => shopping_cart.shopping_cart_items
          .row.set-2-cols.checkout-cols
            / .col
            /   %i.icon-or.stick-right
            /   .widget
            /     %h3 Enter Payment Information
            /     %form.std-form
            /       .control-group
            /         %label Name on card
            /         %input.std-field{type: "text"}/
            /       .control-group
            /         %label Card number
            /         %input.std-field{type: "text"}/
            /       .control-group
            /         %label CVV
            /         %input.std-field.sm-field{type: "text"}/
            /       .control-group
            /         %label Expiration date
            /         %br
            /         %select.std-field.inline-field.month-list.sm-field
            /           %option{value: "01"} 01
            /           %option{value: "02"} 02
            /           %option{value: "03"} 03
            /           %option{value: "04"} 04
            /         %select.std-field.inline-field.year-list.md-field
            /           %option{value: "2014"} 2014
            /           %option{value: "2015"} 2015
            /           %option{value: "2016"} 2016
            /       .control-group
            /         %label ZIP code
            /         %input.std-field.md-field{type: "text"}/
            .col
              .widget.text-center
                %h3 Pay with PayPal
                %a{href: new_paypal_transaction_path}
                  %img{alt: "paypal", src: "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"}/
      .sidebar
        .widget
          %h3 Your order
          %ul
            %li
              Price:
              %span.pull-right
                = number_to_currency(shopping_cart.total)
            %li
              Sales Tax:
              %span.pull-right $0.0
            %li.total
              %strong.bold Total:
              %span.pull-right.bold.summer
                = number_to_currency(shopping_cart.total)


            - if !params[:token]
              = render "form"
            - else
              = render "form_paypal"


        .text-center
          %em Payments are securely processed with BrainTree and PayPal.