%br/
%p.header= f.label :avatar, 'Upload Your Company Avatar'
%p.form
- if @company.avatar
  - avastr = "v#{@company.avatar.version}/#{@company.avatar.public_id}"
  = cl_image_tag(avastr, { size: '90x85', crop: :fit, format: :jpg })
- else
  = image_tag('default_business_logo.png')
= f.attachinary_file_field :avatar
%br/

%p.header= f.label :title
%p.form= f.text_field :title
%p.header= f.label :description, 'Company Description'
%p.form= f.text_area :description, :rows => 6, :placeholder => "A few sentences to inform consumers about your company."
%p.form= f.select :categories, :collection => Category.all.map {|u| [u.name, u.id]}

%h1 Locations
.group
- @company.locations.each do |location|
  .business.row
    .business-image
      - if location.avatar
        - avastr = "v#{location.avatar.version}/#{location.avatar.public_id}"
        = link_to cl_image_tag(avastr, { size: '90x85', crop: :fit, format: :jpg }), edit_merchants_location_path(company_id: @company.id, id: location.id)
      - else
        = link_to image_tag('default_location_avatar.png', :width => '100'), edit_merchants_location_path(company_id: @company.id, id: location.id)
    .business-name
      %p
        = link_to location.name, edit_merchants_location_path(company_id: @company.id, id: location.id)
        %br/
        %br/
        = link_to 'x', merchants_location_path(location), :method => :delete
.row
= link_to "+ Add a location", new_merchants_location_path(company_id: @company.id), class: 'add_business'
