= render partial: 'popups/welcome' if flash.key?(:welcome)
= render partial: 'popups/make_some_money' if flash.key?(:money)
- if nil != @shown
  - flash.each do |key, message|
    .alert-message{:class => key}
      = message

/ # - smart_path = @admin_edit ? admin_company_path(@company) : merchants_company_path(@company)
= form_for @company, :url => merchants_company_path(@company), :html => {:multipart => true, :class => "split-2"} do |f|
  .group
    .column1
      %h1 Company Profile
      = render :partial => 'merchants/companies/form', :locals => {:f => f}
      .clear
      = f.submit "Save", class: 'special'
