.nav.quick-access.inner-container
  .pull-left
    .top_menu
      %ul
        %li
          = link_to 'Новости', '#'
        %li
          = link_to 'Услуги', '#'
        %li.search
          = link_to 'Поиск', '#', class: "search-trigger"
          = image_tag('navigate-up-arrow.png', class: 'search-hide-icon')
          = render :partial => 'layouts/header_nav_search'
        %li
          = link_to 'Обратная связь', '#'
        %li
          = link_to 'События', '#'
  %ul.pull-right
    - if user_signed_in?
      %li.dropdown
        %a.dropdown-btn{href: ""}
    - else
      %li
        %a(data-modal="consumerSignup") Зарегистрироваться
      %li
        %a(data-modal="consumerLogin") Войти
    %li
      %a{href: "", target: "_blank"}
        %i.icon-social.small.facebook.m--t3
      %a{href: "", target: "_blank"}
        %i.icon-social.small.twitter.m--t3
